<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Athletes</h1>

<table>
  
  <tbody>
    <% @athletes.each do |athlete| %>
      <%= content_tag :tr, class: cycle('list_line_odd', 'list_line_even') do %>
        <td>
          <%= image_tag(athlete.image_url, class: 'list_image') %>
        </td>
        <td class='list_description'>
  <dl>
    <dt><%= athlete.name %></dt>
    <dd>
      <%= truncate strip_tags(athlete.description), length: 240 %>
    </dd>
  </dl>
</td>
<td class='list_actions'>
<%= link_to 'Show', athlete %><br/>
<%= link_to 'Edit', edit_athlete_path(athlete) %><br/>
<%= link_to 'Destroy', athlete, method: :delete,
    data: { confirm: 'Are you sure?' } %>
</td>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Athlete', new_athlete_path %>
