<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @athlete.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @athlete.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @athlete.image_url %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @athlete.rating %>
</p>

<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
