<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Your Pragmatic Catalog</h1>

<ul class="catalog">
  <% @athletes.each do |athlete| %>
    <li>
      <%= image_tag(athlete.image_url) %>
      <h2><%= athlete.name %></h2>
      <p><%= sanitize athlete.description %></p>
      <div class="price"><%= athlete.rating %></div>
    </li>
  <% end %>
</ul>